<div class="container">
	<div class="row">
		<!-- 新着レビュー一覧-->
		<div class="col-md-3">
			<table class="table">
				<thead>
					<tr>
						<th colspan ="2" class="table border-primary" >新着レビュー</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<% @reviews.each.with_index(1) do |review, i|%>
						<td>#<%= i %></td>
						<td>『<%= review.title %>』by <%= review.member.account_name %></td>
					</tr>
					<tr>
						<td></td>
						<td><%= review.review_detail %></td>
					</tr>
					<tr>
						<td></td>
						<td>@<%= link_to review.park.park_name, park_path(review.park) %>, on <%= review.created_at.strftime("%-m.%d.%Y") %></td>
					</tr>
					<%end%>
				</tbody>
			</table>
		</div>
			<!--Top紹介文-->
			<div class="col-md-9">
				<div class="images_box">
					<%= image_tag 'top.jpg'%>
				</div>

	<!--おすすめ公園-->
	<div class="row">
		<div class="col-md-12 mt-5"><h3>おすすめの公園</h3></div>
	</div>
	  <div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
		      <div id="new-item">
		    		<% @parks.each.with_index(1) do |park, i| %>
							<% if park.images.attached? %>
								<div class="col-md-3">
									<%= link_to image_tag(park.images.first, size:'160x120'), park %><br/>
									<%= i %>
									<%= link_to park.park_name, park %>
								</div>
							<%else%>
								<div class="col-md-3">
									<%= image_tag 'https://placehold.jp/640x480.png', size: '160x120' %><br/>
									<%= i %>
									<%= link_to park.park_name, park %>
								</div>
							<%end%>
			    	<%end%>
		      </div>
	      </div>
	    </div>
	  </div>
	  </div>
	 </div>
</div>