<div class="container">
  <div class="row">
    <div class="col-sm-3">
    <h4>◆登録</h4>
    <div class="form-group">
      <%= form_with model: @park,url: admin_parks_path, local: true do |f| %>
        <%= f.label :名称 %>
        <%= f.text_field :park_name, class:"form-control" %>
        <%= f.label :所在地 %>
        <%= f.text_field :address, class:"form-control" %>
    </div>
  </div>

    <div class="col-sm-5">
    <div class="form-group">
      <div class="form-check">
        <%= f.collection_check_boxes(:feature_ids, Feature.all, :id, :feature_detail) do |tag| %>
          <%= tag.label class: 'form-check-label', style: "width:50%" do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        <% end %>
      </div>
    </div>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>