<div class="container">
  <h2>公園一覧</h2>
  <h4>検索</h4>
  <div class="row">
    <div class="col-sm-3">
      <div class ="form-group">
        <%= search_form_for @q, url: search_parks_path do |f| %>
          <%= f.label :park_name_cont, '名称'%>
          <%= f.search_field :park_name_cont, class: 'form-control park_name_cont' %>
        <%= f.submit '検索'%>
        <%end%>
      </div>
    </div>
    <div class="col-sm-3">
      <div class ="form-group">
        <%= search_form_for @q, url: search_parks_path do |f| %>
          <%= f.label :address_cont, '所在地'%>
          <%= f.search_field :address_cont, class: 'form-control address_cont' %>
          <%= f.submit '検索'%>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="50px"><% sort_link(@q, :id, "NO.") %></th>
          <th><%= sort_link(@q, :park_name, "名称" )%></th>
          <th><%= sort_link(@q, :address, "所在地")%></th>
          <th><%= sort_link(@q, :park_type, "種別")%></th>
          <th><%= sort_link(@q, :latitude, "緯度")%></th>
          <th><%= sort_link(@q, :longitude,"経度")%></th>
        </tr>
      </thead>

      <tbody>
        <% @parks.each do |park| %>
          <tr>
            <td width="50px"><%= park.id %></td>
            <td><%= link_to park.park_name, park %></td>
            <td><%= park.address %></td>
            <td><%= park.park_type %></td>
            <td><%= park.latitude %></td>
            <td><%= park.longitude %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>