<div class="container">
  <h2>検索結果（<%= @results.size %>件）</h2>

<% if @results.present? %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= sort_link(@q, :id, "NO.") %></th>
          <th><%= sort_link(@q, :park_name, "名称" )%></th>
          <th><%= sort_link(@q, :address, "所在地")%></th>
          <th><%= sort_link(@q, :park_type, "種別")%></th>
          <th><%= sort_link(@q, :area, "エリア")%></th>
          <th><%= sort_link(@q, :size, "面積（㎡）")%></th>
          <th>タグ</th>
          <th><%= sort_link(@q, :latitude, "緯度")%></th>
          <th><%= sort_link(@q, :longitude,"経度")%></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |park| %>
          <tr>
            <td><%= park.id %></td>
            <td><%= link_to park.park_name, park %></td>
            <td><%= park.address %></td>
            <td><%= park.park_type %></td>
            <td><%= park.area %></td>
            <td><%= park.size %></td>
            <td><%= park.features.pluck(:feature_detail) %></td>
            <td><%= park.latitude %></td>
            <td><%= park.longitude %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  一致する結果がありませんでした。
<% end %>
</div>

