<h1>parks#show</h1>
<% if @review.errors.any? %>
  <div class = "alert">
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div id='map'></div>
<script>
  function initMap(){
    var test = {lat: <%= @park.latitude %>, lag: <%= @park.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'),{
              zoom = 15,
              center: test
    });
    var marker = new google.maps.Marker({
              position: test;
              map: map;
    });
    marker.addListener('click',function(){
      infowindow.open(map, marker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key="#{ENV['GOOGLE_API_KEY']}"&callback=initMap" async defer></script>

<table>
  <thead>
    <tr>
      <th>NO.</th>
      <th>名称</th>
      <th>所在地</th>
      <th>種別</th>
      <th>緯度</th>
      <th>経度</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @park.id %></td>
      <td><%= @park.park_name %></td>
      <td><%= @park.address %></td>
      <td><%= @park.park_type %></td>
      <td><%= @park.latitude %></td>
      <td><%= @park.longitude %></td>
    </tr>
  </tbody>
</table>

<!--投稿されたレビューを表示させる-->
<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Review Detail</th>
      <th>Auther</th>
      <th></th>
    </tr>
  </thead>
    <% @reviews.each do |review| %>
  <tbody>
    <tr>
      <td><%= review.title %></td>
      <td><%= review.review_detail %></td>
      <td><%= review.member.account_name %></td>
      <% if @member == current_member %>
      <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: '削除してもよろしいでしょうか？' } %></td>
      <% end %>
    </tr>
  </tbody>
  <%end%>
</table>

<!--「まだレビューは投稿されていません」-->
<!--レビュー投稿フォーム-->
<%= render "public/reviews/form.html.erb", {park: @park, review: @review } %>





<!--
<div id="comment">
  <%#= render 'public/review_comments/comment', {park: @park} %>
</div>
<div id="comment_form">
  <%#= render 'public/review_comments/comment_form', {park: @park, review_comment: @review_comment} %>
</div>
-->