<h2>ユーザー新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="row g-3 align-items-center">
  <div class="col-md-2">
    <%= f.label :メールアドレス, class:"col-form-label" %></div>
  <div class="col-md-5">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>
</div>

<div class="row g-3 align-items-center">
  <div class="col-md-2">
    <%= f.label :パスワード ,class:"col-form-label"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
  </div>
  <div class="col-4">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
  </div>
</div>

<div class="row g-3 align-items-center">
  <div class="col-md-2">
    <%= f.label :入力確認,class:"col-form-label" %></div>
  <div class="col-md-5">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>
</div>

  <div class="sex_field row g-3">
    <div class="col-md-2">
      <%= f.label :性別, class:"form-check-label" %>
    </div>
    <div class="col-md-5">
      <%= f.label :男性, class:"form-check-label"  %>
      <%= f.radio_button :sex, :man,   class:"form-check-input" %>
      <%= f.label :女性, class:"form-check-label"   %>
      <%= f.radio_button :sex, :woman, class:"form-check-input" %>
    </div>
  </div>

  <div class="date_select row g-3">
    <div class="col-md-2">
      <%= f.label :生年月日 %>
    </div>
    <div class="col-md-5">
    <%= f.date_select :birth_date, use_month_numbers: true,
        start_year: 1930,
        end_year: (Time.now.year - 16),
        default: Date.new(1991, 1, 1) %>
    </div>
  </div>

  <div class="account_name">
    <%= f.label :アカウント名 %>
    <%= f.text_field :account_name %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
</div>
<% end %>

<%= render "public/shared/links" %>

<!--
  <div class="spouse_field">
    <%#= f.label :配偶者 %><br />
    <%#= f.label :いる  %>
    <%#= f.radio_button :spouse, :with_spouse %>
    <%#= f.label :いない  %>
    <%#= f.radio_button :spouse, :not_with_spouse %>
  </div>

  <div class="children_field">
    <%#= f.label :お子さま %><br />
    <%#= f.label :いる  %>
    <%#= f.radio_button :children, :with_children %>
    <%#= f.label :いない  %>
    <%#= f.radio_button :children, :not_with_children %>
  </div>
-->

