<div class="container">
  <% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: "alert alert-danger" %>
  <% end %>
  <div class="row justify-content-start">
    <div class="col-sm-3 offset-1 g-3 my-4">
      <h4>ログイン</h4>
      <span style="background-color:#DCDCDC">　会員の方はこちらからログイン　</span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <%= f.label :email,"メールアドレス", class: "col-form-label" %></div>
    <div class="col-sm-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control form-control-sm"%>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2">
      <%= f.label :password,"パスワード", class: "col-form-label" %>
    </div>
    <div class="col-sm-4">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="row justify-content-center">
    <div class="col-sm-1"><%= f.check_box :remember_me %></div>
    <div class="col-sm-2"><%= f.label :remember_me %></div>
  </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-md">ログイン</div>
  </div>

  <div class="row justify-content-start">
    <div class="col-sm-3 offset-1 g-3 my-4">
      <span style="background-color:#DCDCDC">　会員登録がお済でない方　</span></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <p><%= render "public/shared/links" %></p></div>
      <div class="row justify-content-center">
        <div class="col-sm-2">
        <%= link_to "ゲストログイン", members_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      </div>
  </div>
</div>
<% end %>


