<h3>公園一覧</h3>
  <div class="card bg-light">
    <div class="row mb-8 w-40">
      <div class="nav-title">キーワード検索</div>
        <%= search_form_for @q, url: search_parks_path do |f| %>
        <div class="search-nav-content ">
          <div class="col-12 col-md-10">
            <%= f.search_field :park_name_or_address_or_park_type_cont, class: 'form-control' %>
            <%= f.submit class:"btn-primary btn-sm" %>
          </div>
        </div>
        <%end%>
    </div>

    <div class="d-flex flex-row mb-8">
      <div class="nav-title">絞り込み検索</div>
        <%= search_form_for @q, url: search_parks_path do |f| %>
        <div class="search-nav-content ">
          <div class="col-10 col-sm-2">
            <%= f.label :area,"エリアを選ぶ" %><br>
            <%= f.collection_select(:area_eq, Park.distinct.select(:area), :area, :area, prompt: "エリアの選択") %>
          </div>
          <div class="col-10 col-sm-6">
            <%= f.label :park_type,"種別を選ぶ" %><br>
            <%= f.collection_select(:park_type_eq, Park.distinct.select(:park_type), :park_type, :park_type, prompt: "種別の選択") %>
          </div>
          <div class="col-10 col-sm-4">
            <%= f.label :size_rank, "広さを選ぶ" %><br>
            <%= f.collection_select(:size_rank_eq, Park.distinct.select(:size_rank), :size_rank, :size_rank, prompt: "選択してください") %>
            <%= f.submit class:"btn-primary btn-sm" %>
          </div>
        </div>
        <%end%>
    </div>
  </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= sort_link(@q, :id, "NO.") %></th>
          <th><%= sort_link(@q, :park_name, "名称" )%></th>
          <th><%= sort_link(@q, :address, "所在地")%></th>
          <th><%= sort_link(@q, :park_type, "種別")%></th>
          <th><%= sort_link(@q, :area, "エリア")%></th>
          <th><%= sort_link(@q, :size, "面積（㎡）")%></th>
          <th>タグ</th>
          <th><%= sort_link(@q, :latitude, "緯度")%></th>
          <th><%= sort_link(@q, :longitude,"経度")%></th>
        </tr>
      </thead>
      <tbody>
        <% @parks.each do |park| %>
          <tr>
            <td><%= park.id %></td>
            <td><%= link_to park.park_name, park %></td>
            <td><%= park.address %></td>
            <td><%= park.park_type %></td>
            <td><%= park.area %></td>
            <td><%= park.size %></td>
            <td><%= park.features.pluck(:feature_detail) %></td>
            <td><%= park.latitude %></td>
            <td><%= park.longitude %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

